@font-face {
  font-family: 'dejavusans-el';
  src: url('../fonts/dejavusans_el.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavusans';
  src: url('../fonts/dejavusans.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavusans-b';
  src: url('../fonts/dejavusans_b.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavusans-m-l';
  src: url('../fonts/dejavusans_m_l.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavusans-m';
  src: url('../fonts/dejavusans_m.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavusans-m-b';
  src: url('../fonts/dejavusans_m_b.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavusans-m-cb';
  src: url('../fonts/dejavusans_m_cb.ttf') format("truetype");
}
html, body
{
  margin:0px;
  padding:0px;
  background-color:#fffef8;
  color:#314451;

}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a, a:hover, a:focus {
  color:#314451;
  display:inline-block;
  text-decoration:none;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  html
  {
    font-size:8px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  html
  {
    font-size:10px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  html
  {
    font-size:12px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  html
  {
    font-size:14px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  html
  {
    font-size:16px;
  }
}

/** {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
.wrapper
{
  display:inline-block;
  visibility:hidden;
  width:100%;
}
.content {
  width:100%;
}
.poster
{
  width:100%;
  height:404px;
  background-color:#62dadd;
}
.poster .img {
  background: url(../images/poster1.svg) no-repeat center bottom,
              url(../images/poster2.svg) no-repeat center bottom,
              url(../images/poster3.svg) no-repeat center bottom,
              url(../images/poster4.svg) no-repeat center bottom,
              url(../images/poster5.svg) no-repeat center bottom;
  max-width:1526px;
  max-height:404px;
  height:100%;
  margin:0px auto;
}
.page {
  max-width:1100px;
  margin:0px auto;
}
.cell {
  display:table-cell;
  vertical-align:top;
}
.page > .box > .cell.left {
  width:100%;
}
.page > .box > .cell.right {
  min-width: 410px;
}

.page  .header {
  margin:30px 0px;
}
.page .header .intro {
  display:table-cell;
  vertical-align:top;
  width:100%;
  font:19px 'dejavusans-el', 'sans-serif';
  color:#314451;
}
.page .header .intro span {
  font:19px 'dejavusans-b', 'sans-serif';
}
.page .header .lang {
  display:table-cell;
  vertical-align:top;
  min-width: 410px;
  text-align:right;
}
.lang a {
  font:16px 'dejavusans-b-m', 'sans-serif';
  background-color:#a6eded;
  padding:10px 20px;
  border-radius:3px;
  opacity:0.8;
}
.lang a:hover, .lang a:focus {
  opacity:1;
}




.filters .field {
  display:inline-block;
}
.filters .field label {
  font:15px 'dejavusans', 'sans-serif';
  color:#314451;
}
.filters .field select
{
  font:18px 'dejavusans-m-b', 'sans-serif';
  color:#314451;
  background-color:#a6eded;
  padding:10px 20px;
  border:0px;
  border-radius:3px;
  margin:0px 18px 0px 6px;
  outline:none;
  text-align:center;
}
.filters .map-type {
  display:none;
}
/************************************** Georgia map *****************************************/
.map {
  position:relative;
}
.map .georgia path, .map .tbilisi path {
  fill:#fffae3;
  stroke:#efdd92;
  stroke-width:1px;
}
.map .georgia path.area, .map .tbilisi path.area {
  fill:#f9c235;
  stroke:#fffae3;
  stroke-width:1px;
}
 .map .georgia path.area.active, .map .georgia path.area.hover,
 .map .tbilisi path.area.active, .map .tbilisi path.area.hover { /* .map .georgia path.area:hover, */
  stroke:#314451;
  cursor:pointer;
}
.map .georgia path.place {
  fill:#fcf0b4;
  stroke-opacity:0.3;
  stroke:#fcf0b4;
  stroke-width:8px;
  pointer-events:none;
}
.map .georgia-caption, .map .tbilisi-caption {
  font:18px 'dejavusans-el', 'sans-serif';
  color:#97a0a3;
}

.map .tbilisi {
  position:absolute;
  top:180px;
}


.bar-georgia .bar.active, .bar-georgia .bar.hover {
  stroke:#314451;
  stroke-width:1px;
  cursor:pointer;
}
.bar-georgia .bar rect.l
{

  fill:#56bfbf;
}
.bar-georgia .bar rect.l.beyond
{
  fill:#314451;
}
.bar-georgia .x-axis text
{
  font:12px 'dejavusans-el', 'sans-serif';
  fill:#314451;
  cursor:pointer;
}
.bar-georgia .x-axis text.active, .bar-georgia .x-axis text.hover
{
  fill:#000;
}
/************************************** Output *****************************************/
.output, .output2 {
  background-color:#d9f9f7;
  padding:18px 20px;
  border-radius:3px;
}
.output .city {
  font:30px 'dejavusans-m-b', 'sans-serif';
  color:#314451; /* this will be generated dynamically */
  padding-bottom:10px;
  border-bottom:1px dashed #314451;
  margin-bottom:12px;
}
.output .box {
}
.output .box .via-saving {
  margin-right:40px;
}
.output .box .via-saving,
.output .box .via-loan {
  min-width:160px;
  max-width:160px;
  display:inline-block;
}
.output .box .caption, .output2 .caption {
  font:18px 'dejavusans-m-b', 'sans-serif';
  color:#314451; /* this will be generated dynamically */
  padding-bottom:4px;
  border-bottom:1px dashed #314451;
  margin-bottom:16px;
}
.output .box .amount-box {
  font:15px 'dejavusans-m', 'sans-serif';
  color:#314451;
  margin-bottom:36px;
}
.output .box .amount-box .amount {
  font:33px 'dejavusans-b', 'sans-serif';
  color:#314451;
  display:inline-block;
  padding-right:26px;
  letter-spacing:-1px;
  position:relative;
}
.output .box .amount-box .amount:after {
  content:"";
  display:inline-block;
  background:transparent url(../images/lari.svg) no-repeat center right/22px 26px;
  width: 22px;
  height: 26px;
  position: absolute;
  top: 5px;
  right: 0px;
}

.output .box .years-box .box {
  font:20px 'dejavusans-el', 'sans-serif';
  color:#314451;
  background-color:#a6eded;
  padding:12px 8px;
  border-radius:3px;
  margin-bottom:30px;
  width:78px;
  display:inline-block;
  position:relative;

}

.output .box .years-box .years,
.output .box .years-box .months {
  display:inline-block;
  font:50px 'dejavusans-m-cb', 'sans-serif';
  color:#314451;

}
.output .box .via-loan .years-box .years,
.output .box .via-loan .years-box .months
{
  color:#56bfbf;
}
.output .box .years-box .years
{
  /*margin-right:4px;*/
}
.output .box .years-box label {
  display:inline-block;
  margin-bottom:10px;
}
.output .box .years-box .notice {
  width:20px;
  height:20px;
  position:absolute;
  top:3px;
  right:3px;
  display:none;
}
.output2 {
  margin-top:13px;
}
.output2 .chart {
  margin-bottom:38px;
}
.output2 .share-this {
  font:16px 'dejavusans-el', 'sans-serif';
  color:#314451;
  text-align:right;
}

.comments {
  font:18px 'dejavusans-m-b', 'sans-serif';
  color:#314451;
  margin:20px 0px;
}
.loader
{
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
}
.magnet > div
{
  display:inline-block;
}
.magnet.center
{
  margin:0px auto;
  text-align:center;
}
.magnet.middle
{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*------------------------------------------ Footer ------------------------------------------*/
.footer
{
  width:100%;
  text-align:right;
  background-color:#f2f2f2;
  border-top:1px solid #fffae3;
  height:70px;
  position: absolute;
  bottom: 0;
}
.footer > .box {
  max-width:1100px;
  margin:0px auto;
  text-align:left;
}
.footer .left {
  text-align:left;
  padding-top: 23px;
  display:inline-block;
}
.footer .left > div {
  display:inline-block;
  font:16px 'dejavusans-el', 'sans-serif';
  color:#314451;
}
.footer .left .pipe {
  margin:0px 10px;
}
.footer a
{
  display:inline-block;
  padding:18px 0px 0px 0px;
}
.footer .right {
  float:right;
}
.footer .powered-by img
{
  width:135px;
  height:36px;
}
/*------------------------------------------ Tip ------------------------------------------*/

.tip {
  font:11px 'dejavusans-el', 'sans-serif';
  color: #314451;
  background: #f2f2f2;
  padding:8px 12px;
  border-radius: 3px;
  text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 11px;
  width: 100%;
  line-height: 1;
  color: #f2f2f2;
  content: "\25BC";
  position: absolute;
  text-align: center;
  transform:scaleX(1.7);
}

/* Style northward tooltips differently */
.tip.n:after {
  bottom: -9px;
  left: 0;
}
.tip.loan-warning {

  text-align:left;
}
.tip.loan-warning span {
  font:11px 'dejavusans-b', 'sans-serif';
}
