/*csslint empty-rules: false, important: false, font-faces: false, adjoining-classes: false */
.loader {
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
}
.loader:lang(ka) {
  background: url(../images/plane_ka.gif) no-repeat center,
              url(../images/poster/bg.jpg) repeat;
}
.loader:lang(en) {
  background: url(../images/plane_en.gif) no-repeat center,
              url(../images/poster/bg.jpg) repeat;
}
@font-face {
  font-family: 'dejavu-neue';
  src: url('../fonts/dejavu_neue.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavu-neue-el';
  src: url('../fonts/dejavu_neue_el.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavu-neue-b';
  src: url('../fonts/dejavu_neue_b.ttf') format("truetype");
}

@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans.ttf') format("truetype");
}
@font-face {
  font-family: 'opensans-l';
  src: url('../fonts/opensans_l.ttf') format("truetype");
}
@font-face {
  font-family: 'opensans-b';
  src: url('../fonts/opensans_b.ttf') format("truetype");
}
@font-face {
  font-family: 'opensans-sb';
  src: url('../fonts/opensans_sb.ttf') format("truetype");
}

@font-face {
  font-family: 'opensans-i';
  src: url('../fonts/opensans_i.ttf') format("truetype");
}
@font-face {
  font-family: 'opensans-sb-i';
  src: url('../fonts/opensans_sb_i.ttf') format("truetype");
}

html, body
{
  margin:0;
  padding:0;
  background-color:#fffef8;
  color:#314451;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px;
}
.noscroll {
  overflow:hidden;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a, a:hover, a:focus {
  color:#314451;
  display:inline-block;
  text-decoration:none;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  html
  {
    font-size:8px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  html
  {
    font-size:10px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  html
  {
    font-size:12px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  html
  {
    font-size:14px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  html
  {
    font-size:16px;
  }
}

/** {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
.require-js {
    position:absolute;
    left:20px;
    bottom:20px;
}
.require-js div:lang(ka) {
  font:19px 'dejavu-neue', 'sans-serif';
  color:#e14e41;
}
.require-js div:lang(en) {
  font:19px 'opensans', 'sans-serif';
  color:#e14e41;
}
.wrapper
{
  display:inline-block;
  visibility:hidden;
  /*opacity: 0;*/
  width:100%;
}
.content {
  width:100%;
}
@keyframes animate_bg {
    from { background-position: 0 0; }
    to { background-position: -1526px 0; }
}
@-webkit-keyframes animate_bg {
    from { background-position: 0 0; }
    to { background-position: -1526px 0; }
}
@-ms-keyframes animate_bg {
    from { background-position: 0 0; }
    to { background-position: -1526px 0; }
}
@-moz-keyframes animate_bg {
    from { background-position: 0 0; }
    to { background-position: -1526px 0; }
}
.poster
{
  width:100%;
  height:368px;
}
.poster .bg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:368px;
}
.poster .sky {
  background: url(../images/poster/bg.jpg) repeat-x center left/369px 369px;
}
.poster .cloud_far {
  background:transparent url(../images/poster/cloud_far.svg) repeat-x;
  animation: animate_bg 80s linear infinite;
  -ms-animation: animate_bg 80s linear infinite;
  -moz-animation: animate_bg 80s linear infinite;
  -webkit-animation: animate_bg 80s linear infinite;
}
.poster .cloud_close {
  background:transparent url(../images/poster/cloud_close.svg) repeat-x;
  animation: animate_bg 30s linear infinite;
  -ms-animation: animate_bg 30s linear infinite;
  -moz-animation: animate_bg 30s linear infinite;
  -webkit-animation: animate_bg 30s linear infinite;
}
.poster .city {
  background:transparent url(../images/poster/city.svg) repeat-x;
  animation: animate_bg 150s linear infinite;
  -ms-animation: animate_bg 150s linear infinite;
  -moz-animation: animate_bg 150s linear infinite;
  -webkit-animation: animate_bg 150s linear infinite;
}
.poster .plane:lang(ka) {
  background:transparent url(../images/plane_ka.gif) no-repeat center;
  background-position: 30% 40px;
}
.poster .plane:lang(en) {
  background:transparent url(../images/plane_en.gif) no-repeat center;
  background-position: 30% 40px;
}
.poster.paused .bg {
  -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
  -moz-animation-play-state: paused;
   animation-play-state: paused;
}
.poster.paused .plane:lang(ka) {
  background:transparent url(../images/plane_ka.png) no-repeat center;
  background-position: 30% 40px;
  -webkit-transition: all 3s ease-in;
  -moz-transition: all 3s ease-in;
   -ms-transition: all 3s ease-in;
  -o-transition: all 3s ease-in;
   transition: all 3s ease-in;
}
.poster.paused .plane:lang(en) {
  background:transparent url(../images/plane_en.png) no-repeat center;
  background-position: 30% 40px;
  -webkit-transition: all 3s ease-in;
  -moz-transition: all 3s ease-in;
   -ms-transition: all 3s ease-in;
  -o-transition: all 3s ease-in;
   transition: all 3s ease-in;
}
.poster .switch {
  position:absolute;
  right:10px;
  top:10px;
  width:42px;
  height:42px;
  background:transparent url(../images/pause.svg) center/42px;
  cursor:pointer
}
.poster .switch.play {
  background:transparent url(../images/play.svg) center/42px;
}
.page {
  margin:0 auto;
  padding:0 10px;
}
.cell {
  display:inline-block;
  vertical-align:top;
}
.page  .header {
  margin:30px 0;
}
.page .header .box > div {
  display:inline-block;
}
.page .header .intro {
  display:block;
  vertical-align:top;
  width:100%;
  font:18px 'dejavu-neue-el', 'sans-serif';
  color:#314451;
  padding-right: 30px;
}
.page .header .intro:lang(en) {
  font:19px 'opensans', 'sans-serif';
}
.page .header .intro span {
  font:18px 'dejavu-neue-b', 'sans-serif';
}
.page .header .intro span:lang(en) {
  font:19px 'opensans-b', 'sans-serif';
}
.page .header .lang {
  float:right;
}
.lang a {

  background-color:#a6eded;
  padding:10px 20px;
  border-radius:3px;
  opacity:0.8;
}
.lang a:lang(ka) {
  font:16px 'dejavu-neue-b', 'sans-serif';
}
.lang a:lang(en) {
  font:16px 'opensans-b', 'sans-serif';
}
.lang a:hover, .lang a:focus {
  opacity:1;
}



.filters {
  display: table;
  width: 100%;
}
.filters .field {
  width:100%;
  margin:0 0 20px 0;
}
.filters .field .cell {
  display:table-cell;
  vertical-align:middle;
}
.filters .field .cell.full {
  width:100%;
}
.filters .field label {
  display:table-cell;
  font:15px 'dejavu-neue', 'sans-serif';
  color:#314451;
  padding:0 10px 0 0;
  white-space:nowrap;
}
.filters .field label:lang(en) {
  font:15px 'opensans', 'sans-serif';
}
.filters .field .slider-box {
  display:table-cell;
  width:100%;
}
.filters .field .slider {
  /*height:26px;*/
}
.filters .field .slider-value {
  font:16px 'dejavu-neue-b';
  color:#fff;
  text-align:center;
  background-color:#ff6043;
  border-radius:3px;
  padding: 10px 13px 6px;
  margin-left: 13px;
  height: 34px;
  min-width:80px;
}
/************************************** Georgia map *****************************************/
.charts .caption {
  font:16px 'dejavu-neue', 'sans-serif';
  color:#314451;
  margin:20px 0 30px;
}
.charts .caption:lang(en) {
  font:16px 'opensans', 'sans-serif';
}
.map {
  position:relative;
}
.map .georgia path, .map .tbilisi path {
  fill:#fffae3;
  stroke:#efdd92;
  stroke-width:1px;
}
.map .georgia path.area, .map .tbilisi path.area {
  fill:#fffae3;
  stroke:#fffae3;
  stroke-width:1px;
}
.map .georgia path.area.disabled, .map .tbilisi path.area.disabled {
  fill:#fffae3;
  stroke:#efdd92;
  stroke-width:1px;
}
 .map .georgia path.area.active, .map .georgia path.area.hover,
 .map .tbilisi path.area.active, .map .tbilisi path.area.hover { /* .map .georgia path.area:hover, */
  stroke:#314451;
  cursor:pointer;
}
.map .georgia path.place {
  fill:#fcf0b4;
  stroke-opacity:0.3;
  stroke:#fcf0b4;
  stroke-width:8px;
  pointer-events:none;
}
.map .georgia-caption,
.map .tbilisi-caption,
.bar-georgia .captions text {
  font:17px 'dejavu-neue-el', 'sans-serif';
  stroke:none;
  fill:#314451;
}
.map .georgia-caption:lang(en),
.map .tbilisi-caption:lang(en),
.bar-georgia .captions text:lang(en) {
  font:17px 'opensans-l', 'sans-serif';
}
.map .tbilisi {
  text-align:center;
}
.bar-georgia .bar.active, .bar-georgia .bar.hover {
  stroke:#314451;
  stroke-width:1px;
  cursor:pointer;
}
.bar-georgia .bar rect.l
{
  fill:#56bfbf;
}
.bar-georgia .bar rect.l.beyond
{
  fill:#314451;
}
.bar-georgia .bar rect.l.reachless
{
  fill: #e6e7e8;
}
.bar-georgia .x-axis line{
  stroke:#98a1a4;
  stroke-width:1px;
}
body.render svg {
  shape-rendering: crispEdges;
}
.x-axis, .y-axis {
  fill: none;
 stroke: #000;

}
.bar-georgia .x-axis text {
  font:12px 'dejavu-neue-el', 'sans-serif';
  stroke:none;
  fill:#314451;
  cursor:pointer;
}
.bar-georgia .x-axis text:lang(en){
  font:12px 'opensans-l', 'sans-serif';
}
.bar-georgia .y-axis text {
  font:12px 'dejavu-neue', 'sans-serif';
  stroke:none;
  fill:#314451;
}
.bar-georgia .y-axis text:lang(en){
  font:12px 'opensans', 'sans-serif';
}


.bar-georgia .x-axis text.active, .bar-georgia .x-axis text.hover
{
  fill:#000;
}


.charts .bar {
  margin:40px 0 0 0;
}
/************************************** Output *****************************************/
.output {
  margin-top:63px;
}
.output .box {
  position:relative;
  /*border-spacing:16px 0px;*/
}
.output .city {
  font:30px/31px 'dejavu-neue-b', 'sans-serif';
  color:#314451; /* this will be generated dynamically */
  padding:0 0 4px 20px;
}
.output .city span {
  font:16px/31px 'dejavu-neue-el', 'sans-serif';
  color:#5a6972;
}
.output .city:lang(en) {
  font:34px/35px 'opensans-b', 'sans-serif';
}
.output .city span:lang(en) {
  font:16px/31px 'opensans-l', 'sans-serif';
}
.output .phrase {
  font:15px 'dejavu-neue-b', 'sans-serif';
  color:#314451;
}
.output .phrase:lang(en) {
  font:14px 'opensans-i', 'sans-serif';
}
.output .phrase.light {
  font:15px 'dejavu-neue', 'sans-serif';
  color:#314451;
}
.output .phrase.light:lang(en) {
  font:14px 'opensans-sb-i', 'sans-serif';

}
.output .phrase.right {
  text-align:right;
}
.output .phrase span {
  color:#e35641;
}
.output .phrase.first {
  padding:0 149px 0 0;
}

.output .box .via-loan .wrap {
  position:relative;
}
.output .box .via-saving,
.output .box .via-loan .wrap {

  background-color:#a6eded;
  padding: 15px 20px 15px;
  border-radius:3px;
  height:295px;
  max-height:295px;
  min-width:330px;
  vertical-align:top;
  margin-bottom:20px;
  width:100%;
}
.output .box .via-saving .box-wrapper {
  width:310px;
}
.output .box .amount-box,
.output .box .diff-box {
  font:15px 'dejavu-neue', 'sans-serif';
  color:#314451;
  text-align:center;
  background-color:#fffef8;
  width:100%;
  min-width:90px;
  max-width:290px;
  padding: 12px 16px;
  border-radius:3px;
  margin:12px 0px;
  display:inline-block;
  position:relative;
}
.output .box .amount-box:lang(en),
.output .box .diff-box:lang(en) {
  font:15px 'opensans', 'sans-serif';
}
.output .box .amount-box label,
.output .box .diff-box label { display:block; }

.output .box .amount-box .amount,
.output .box .diff-box .amount {
  font:40px/48px 'dejavu-neue-b', 'sans-serif';
  color:#314451;
  height:41px;
  padding-right:26px;
  display:inline-block;
  position:relative;
}
.output .box .amount-box .amount:lang(en),
.output .box .diff-box .amount:lang(en) {
  font:38px 'opensans-b', 'sans-serif';
  line-height: 37px;
}
.output .box .amount-box .amount.symbol:after,
.output .box .diff-box .amount.symbol:after {
  content:"";
  display:inline-block;
  background:transparent url(../images/lari.svg) no-repeat center right/22px 26px;
  width: 22px;
  height: 26px;
  position: absolute;
  top: 6px;
  right: 0;
}
.output .box .years-box {
  margin:12px 0px;
}
.output .box .years-box .box {
  font:13px 'dejavu-neue', 'sans-serif';
  color:#314451;
  text-align:center;
  background-color:#fffef8;
  padding: 12px 16px;
  border-radius:3px;
  min-width:90px;
  display:inline-block;
  position:relative;
}
.output .box .years-box .box:lang(en) {
  font:11px 'opensans', 'sans-serif';
}
.output .box .years-box .years,
.output .box .years-box .months {
  display:block;
  font:40px 'dejavu-neue-b', 'sans-serif';
  color:#314451;
  height:40px;
}
.output .box .years-box .years:lang(en),
.output .box .years-box .months:lang(en) {
  font:44px/44px 'opensans-b', 'sans-serif';
}
.output .box .via-loan .wrap > .box {
  display:table;
  width:100%;
}
.output .box .via-loan .wrap > .box .cell {
  display:table-cell;
  vertical-align:top;
  width:50%;
}
.output .box .via-loan .wrap > .box .cell:last-child {
  padding-left:13px;
  vertical-align:middle;
}
.output .box .via-loan.hide1 .wrap .h,
.output .box .via-loan.hide2 .wrap .h2,
.output .box .via-saving.hide3 .h3,
.output .box .via-loan.hide3 .wrap .h3{
  display:none;
}
.output .box .via-loan.hide1  .wrap > .box .cell:last-child .phrase{
  margin-top: 20px;
}
.output .box .via-loan .years-box .years,
.output .box .via-loan .years-box .months
{
  color:#56bfbf;
}
.output .box .years-box .years
{
  /*margin-right:4px;*/
}

.output .box .years-box.disabled .years,
.output .box .years-box.disabled .months {
  color:#314451;
}
.output .box .years-box .moneybox {
  display:inline-block;
  background:transparent url(../images/moneybox.svg) no-repeat center right/70px 53px;
  width:70px;
  height:53px;
  margin-top: 10px;
  float:right;
}
.via-loan .bank {
  background:transparent url(../images/bank0.svg) no-repeat center right/149px 115px;
  display:inline-block;
  width:149px;
  height:115px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.via-loan.hide1 .bank {
  background:transparent url(../images/bank1.svg) no-repeat center right/149px 115px;
}
.via-loan.hide2 .bank {
  background:transparent url(../images/bank2.svg) no-repeat center right/149px 115px;
}
.via-loan.hide3 .bank {
  background:transparent url(../images/bank3.svg) no-repeat center right/149px 115px;
}
.output .extra {
  margin-top:10px;
  text-align: left;
}
.output .extra .calculator {
  display:none;
}
.output .extra .calculator a{
  font:16px 'dejavu-neue-b', 'sans-serif';
  color:#fffef8;
  background-color:#f88236;
  padding: 26px 20px 20px 50px;
  border-radius:3px;
  /*white-space:nowrap;*/
  vertical-align: top;
  width:200px;
  position:relative;
}
.output .extra .calculator a:before {
  content:"";
  display:inline-block;
  vertical-align: top;
  background:transparent url(../images/calculator.svg) no-repeat center right/26px 33px;
  width:26px;
  height:33px;
  /*margin:-4px 10px 0px 0px;*/
  position: absolute;
  left: 15px;
}
.output .extra .calculator:lang(en) {
  font:21px 'dejavu-neue-b', 'sans-serif';
}
.share-this {
  font:16px 'dejavu-neue-el', 'sans-serif';
  color:#314451;
  margin-bottom:45px;
}
.share-this:lang(en) {
  font:16px 'opensans', 'sans-serif';
}
.share-this label {
}

.share-box {
  margin-top: 30px;
}
.comments {
  font:18px 'dejavu-neue-b', 'sans-serif';
  color:#314451;
  margin:20px 0;
}
.comments:lang(en) {
  font:18px 'opensans-b', 'sans-serif';
}
.fb-comments {
  width:100%;
  max-width:1100px;
}

/*------------------------------------------ Footer ------------------------------------------*/
.footer {
  width:100%;
  text-align:right;
  background-color:#f2f2f2;
  border-top:1px solid #fffae3;
  min-height:70px;
  position: absolute;
  bottom: 0;
}
.footer > .box {
  margin:0 auto;
  text-align:left;
}
.footer .left {
  text-align:left;
  padding-top: 23px;
  display:inline-block;
}
.footer .left > div {
  display:inline-block;
  font:16px 'dejavu-neue-el', 'sans-serif';
  color:#314451;
}
.footer .left > div:lang(en) {
  font:16px 'opensans-l', 'sans-serif';
}
.footer .left .pipe {
  margin:0;
}
.footer > .box {
  padding:0 10px;
}
.footer a
{
  display:inline-block;
  padding:18px 0 0 0;
}
.footer .download a
{
  padding:0;
}
.footer .right {
  float:right;
  padding-bottom:10px;
}
.footer .powered-by img
{
  width:135px;
  height:36px;
}
.footer .methodology {
  cursor:pointer;
}
.popup {
  display:none;
}
.popup.open {
  display:block;
}
.popup .bg{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.55);
}
.popup .window {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  background-color:#fffef8;
  z-index:1;
  overflow: hidden;
}
.popup .window .close {
  background:transparent url(../images/close.svg) center/42px;
  width:42px;
  height:42px;
  position:absolute;
  right:12px;
  top:12px;
  cursor:pointer;
}
.popup .window .content {
  padding: 30px 40px 40px;
  overflow-y: auto;
}
.popup .window .content::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}
.popup .window .content::-webkit-scrollbar {
  height: 8px;
  width:8px;
}
.popup .window .content::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border: 2px solid #f6f6f6;
}
.popup .window .content::-webkit-scrollbar-thumb:hover {
  background-color: #b1b1b1;
  cursor: pointer;
}
.popup .window .caption {
  font: 26px 'dejavu-neue-b', 'sans-serif';
  color:#d94840;
  margin-bottom:10px;
}
.popup .window .caption:lang(en) {
  font: 26px 'opensans-b', 'sans-serif';
}
.popup .window .text {
  font:19px 'dejavu-neue-el', 'sans-serif';
  line-height:25px;
  color:#314451;
}
.popup .window .text:lang(en) {
  font:19px 'opensans-l', 'sans-serif';
}
.popup .window .content .formula {
  text-align: center;
  font-size: 17px;
}
.popup .window .content .formula .line {
  color: #cbcbcb;
}
.popup .window .content ul{
  list-style:none;
}
.popup .window a {
  font:16px 'dejavu-neue-b', 'sans-serif';
}
.popup .window a:lang(en) {
  font:16px 'opensans-b', 'sans-serif';
}
.popup .window a.source {
  font-size:12px;
}
.popup .window .header {
  background:transparent url(../images/methodology.jpg) center top;
  height: 186px;
}

/*------------------------------------------ Tip ------------------------------------------*/

.tip {
  font:11px 'dejavu-neue-el', 'sans-serif';
  color: #314451;
  background: #f2f2f2;
  padding:8px 12px;
  border-radius: 3px;
  text-align: center;
}
.tip:lang(en) {
  font:11px 'opensans', 'sans-serif';
}
/* Creates a small triangle extender for the tooltip */
.tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 11px;
  width: 100%;
  line-height: 1;
  color: #f2f2f2;
  content: "\25BC";
  position: absolute;
  text-align: center;
  transform:scaleX(1.7);
}

/* Style northward tooltips differently */
.tip.n:after {
  bottom: -9px;
  left: 0;
}
.tip.loan-warning {

  text-align:left;
}
.tip.loan-warning span {
  font:11px 'dejavu-neue-b', 'sans-serif';
}
.tip.loan-warning span:lang(en) {
  font:11px 'opensans-b', 'sans-serif';
}
a.at-share-btn {
  border-radius:3px !important;
  max-width:32px !important;
  max-height:32px !important;
}
a.at-svc-facebook { background: #45669b !important; }
a.at-svc-twitter { background: #00aced !important; }
a.at-svc-compact { background: #64cc7f !important; }
.at-share-btn .at4-icon {
  width:32px !important;
  height:32px !important;
  line-height:32px !important;
}
.aticon-facebook { background:transparent url(../images/fb.svg) no-repeat center center/28px 28px !important; }
.aticon-twitter { background:transparent url(../images/twitter.svg) no-repeat center center/28px 28px !important; }
.aticon-compact { background:transparent url(../images/more.svg) no-repeat center center/28px 28px !important; }
.addthis_sharing_toolbox { display: inline-block; }
.at-svc-facebook  + .at_flat_counter {
  border-radius: 0 3px 3px 0 !important;
  background: #45669b !important;
}
.at-svc-twitter  + .at_flat_counter {
  border-radius: 0 3px 3px 0 !important;
  background: #00aced !important;
}
.at-svc-compact  + .at_flat_counter {
  border-radius: 0 3px 3px 0 !important;
  background: #64cc7f !important;
}
.at_flat_counter {
  height: 32px !important;
  padding: 0 12px !important;
  line-height: 32px !important;
  margin: 0 2px 0 -4px !important;
}
.at_flat_counter:after {
  content: none !important;
}

/*------------------------------------------ Dropdown ------------------------------------------*/
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown .dropdown-toggle {
  font:18px 'dejavu-neue', 'sans-serif';
  color:#314451;
  background-color:#a6eded;
  padding:10px 14px;
  border:0;
  border-radius:3px;
  margin:0;
  text-align:center;
  cursor:pointer;
}
.dropdown .dropdown-toggle:focus {
  outline:none;
}
.dropdown .dropdown-toggle:lang(en) {
  font:20px 'opensans-b', 'sans-serif';
}
.dropdown .dropdown-toggle:after {
  content:"";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  vertical-align: middle;
  border-top: 6px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 100%;
  padding:0;
  margin:0;
  list-style: none;
  border-radius: 3px;
  overflow:hidden;
}
.dropdown.open .dropdown-menu {
  display:block;
}
.dropdown .dropdown-menu li a {
  font:13px 'dejavu-neue-b', 'sans-serif';
  color:#314451;
  background-color:#d9f9f7;
  display:inline-block;
  width: 100%;
  padding: 8px 10px 8px 14px;
}
.dropdown .dropdown-menu li a:lang(en) {
  font:15px 'opensans-b', 'sans-serif';
}
.dropdown .dropdown-menu li a:hover,
.dropdown .dropdown-menu .selected a {
  color:#ff6043;
  background-color:#a6eded;
}

/*------------------------------------------ @media ------------------------------------------*/
@media (min-width: 768px) {
  .map .charts {
    position:relative;
  }
  .map .tbilisi {
    position:absolute;
    bottom:0px;
    left:60px;
  }

}
@media (min-width: 1100px) {
  .poster .sky {
    background: url(../images/poster/sun.svg) no-repeat top right,
                url(../images/poster/bg.jpg) repeat-x center left/369px 369px;
  }
  .filters .field {
    width:50%;
    margin:0 0 0 0;
  }
  .filters .field:not(:first-child) label {
    padding-left: 40px;
  }
  .charts {
    display:table;
  }
  .charts .map,
  .charts .bar {
    display:inline-block;
    vertical-align:top;
  }
  .charts .bar {
    margin:0;
  }
  .page {
    max-width:1100px;
    padding:0;
  }
  .cell {
    display:table-cell;
  }
  .page > .box > .cell.right {
    min-width: 380;
  }
  .page .header .lang {
    min-width: 200px;
  }
  .output {
    margin-top:13px;
  }
  .output .box .via-saving,
  .output .box .via-loan {
    display:table-cell;
    margin-bottom:0;
  }
  .output .box .via-saving {
    width:auto;
  }
  .output .box .via-loan {
    width:100%;
  }
  .output .box .via-loan .wrap {
    margin:0 15px;
    width:auto;
  }
  .output .extra {
    display:table-cell;
    vertical-align:middle;
    min-width: 200px;
  }
  .share-box {
    margin-top: 0;
  }
  .footer > .box {
    max-width:1100px;
    padding:0;
  }
  .footer .left .pipe {
    margin:0 10px;
  }
}
