.loader
{
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
}
.loader:lang(ka) {
  background: url(../images/plane_ka.gif) no-repeat center,
              url(../images/poster/bg.jpg) repeat;
}
.loader:lang(en) {
  background: url(../images/plane_en.gif) no-repeat center,
              url(../images/poster/bg.jpg) repeat;
}
@font-face {
  font-family: 'dejavu-neue';
  src: url('../fonts/dejavu_neue.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavu-neue-el';
  src: url('../fonts/dejavu_neue_el.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavu-neue-b';
  src: url('../fonts/dejavu_neue_b.ttf') format("truetype");
}

@font-face {
  font-family: 'dejavusans-el';
  src: url('../fonts/dejavusans_el.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavusans';
  src: url('../fonts/dejavusans.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavusans-b';
  src: url('../fonts/dejavusans_b.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavusans-m-l';
  src: url('../fonts/dejavusans_m_l.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavusans-m';
  src: url('../fonts/dejavusans_m.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavusans-m-b';
  src: url('../fonts/dejavusans_m_b.ttf') format("truetype");
}
@font-face {
  font-family: 'dejavusans-m-cb';
  src: url('../fonts/dejavusans_m_cb.ttf') format("truetype");
}
@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans.ttf') format("truetype");
}
@font-face {
  font-family: 'opensans-l';
  src: url('../fonts/opensans_l.ttf') format("truetype");
}
@font-face {
  font-family: 'opensans-b';
  src: url('../fonts/opensans_b.ttf') format("truetype");
}
@font-face {
  font-family: 'opensans-sb';
  src: url('../fonts/opensans_sb.ttf') format("truetype");
}
html, body
{
  margin:0px;
  padding:0px;
  background-color:#fffef8;
  color:#314451;

}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px;
}
body.noscroll {
  overflow:hidden;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a, a:hover, a:focus {
  color:#314451;
  display:inline-block;
  text-decoration:none;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  html
  {
    font-size:8px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  html
  {
    font-size:10px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  html
  {
    font-size:12px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  html
  {
    font-size:14px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  html
  {
    font-size:16px;
  }
}

/** {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
.wrapper
{
  display:inline-block;
  visibility:hidden;
  /*opacity: 0;*/
  width:100%;
}
.content {
  width:100%;
}
@keyframes animate_bg {
    from { background-position: 0 0; }
    to { background-position: -1526px 0; }
}
@-webkit-keyframes animate_bg {
    from { background-position: 0 0; }
    to { background-position: -1526px 0; }
}
@-ms-keyframes animate_bg {
    from { background-position: 0 0; }
    to { background-position: -1526px 0; }
}
@-moz-keyframes animate_bg {
    from { background-position: 0 0; }
    to { background-position: -1526px 0; }
}
.poster
{
  /*width:100%;
  height:404px;
  background-color:#62dadd;*/
  width:100%;
  height:368px;
  /*background-image: url(../images/poster1.svg);
  background-position: 0px 0px;
  /*background-size:1526px 404px;*/
  background-repeat: repeat-x;*/


}
.poster .bg {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:368px;
}
.poster .sky {
  background: url(../images/poster/sun.svg) no-repeat center right,
              url(../images/poster/bg.jpg) repeat center right;
}
.poster .cloud_far {
  background:transparent url(../images/poster/cloud_far.svg) repeat-x;
  animation: animate_bg 80s linear infinite;
  -ms-animation: animate_bg 80s linear infinite;
  -moz-animation: animate_bg 80s linear infinite;
  -webkit-animation: animate_bg 80s linear infinite;
}
.poster .cloud_close {
  background:transparent url(../images/poster/cloud_close.svg) repeat-x;
  animation: animate_bg 30s linear infinite;
  -ms-animation: animate_bg 30s linear infinite;
  -moz-animation: animate_bg 30s linear infinite;
  -webkit-animation: animate_bg 30s linear infinite;
}
.poster .city {
  background:transparent url(../images/poster/city.svg) repeat-x;
  animation: animate_bg 150s linear infinite;
  -ms-animation: animate_bg 150s linear infinite;
  -moz-animation: animate_bg 150s linear infinite;
  -webkit-animation: animate_bg 150s linear infinite;
}
.poster .plane {
  background:transparent url(../images/plane_ka.gif) no-repeat center;
  background-position: 30% 40px;
}
.poster.paused .bg {
  -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
   animation-play-state: paused;
}
.poster .stop {
  position:absolute;
  right:10px;
  top:10px;
  width:32px;
  height:32px;
  background-color:#efefef;
  cursor:pointer
}
.page {

  margin:0px auto;
  padding:0px 10px;
}
.cell {
  display:inline-block;
  vertical-align:top;
}
.page > .box > .cell.left {
  width:100%;
}
.page > .box > .cell.right {
  width:100%;
}

.page  .header {
  margin:30px 0px;
}
.page .header .intro {
  display:table-cell;
  vertical-align:top;
  width:100%;
  font:18px 'dejavusans-el', 'sans-serif';
  color:#314451;
  padding-right: 30px;
}
.page .header .intro:lang(en) {
  font:19px 'opensans', 'sans-serif';
}
.page .header .intro span {
  font:18px 'dejavusans-b', 'sans-serif';
}
.page .header .intro span:lang(en) {
  font:19px 'opensans-b', 'sans-serif';
}
.page .header .lang {
  display:table-cell;
  vertical-align:top;

  text-align:right;
}
.lang a {

  background-color:#a6eded;
  padding:10px 20px;
  border-radius:3px;
  opacity:0.8;
}
.lang a:lang(ka) {
  font:16px 'dejavusans-b', 'sans-serif';
}
.lang a:lang(en) {
  font:16px 'opensans-b', 'sans-serif';
}
.lang a:hover, .lang a:focus {
  opacity:1;
}



.filters {
  display: table;
  width: 100%;
}
.filters .field {
  display:table-cell;
  width:50%;
}
.filters .field .cell {
  display:table-cell;
  vertical-align:middle;
}
.filters .field .cell.full {
  width:100%;
}
.filters .field label {
  display:table-cell;
  font:15px 'dejavusans', 'sans-serif';
  color:#314451;
  padding:0px 10px 0px;
  white-space:nowrap;
}
.filters .field label:lang(en) {
  font:15px 'opensans', 'sans-serif';
}
.filters .field:not(:first-child) label {
  padding-left:40px;
}
.filters .field .slider-box {
  display:table-cell;
  width:100%;
}
.filters .field .slider {
  /*height:26px;*/
}
.filters .field .slider-value {
  font:16px 'dejavu-neue-b';
  color:#fff;
  text-align:center;
  background-color:#ff6043;
  border-radius:3px;
  padding: 10px 13px 6px;
  margin-left: 13px;
  height: 34px;
  width:80px;
}
/*.filters .field select
{
  font:18px 'dejavusans-m-b', 'sans-serif';
  color:#314451;
  background-color:#a6eded;
  padding:10px 20px;
  border:0px;
  border-radius:3px;
  margin:0px 18px 0px 6px;
  outline:none;
  text-align:center;
}
.filters .field select:lang(en) {
  font:20px 'opensans-b', 'sans-serif';
}
.filters .map-type {
  display:none;
}*/
/************************************** Georgia map *****************************************/
.map {
  position:relative;
}
.map .georgia path, .map .tbilisi path {
  fill:#fffae3;
  stroke:#efdd92;
  stroke-width:1px;
}
.map .georgia path.area, .map .tbilisi path.area {
  fill:#fffae3;
  stroke:#fffae3;
  stroke-width:1px;
}
.map .georgia path.area.disabled, .map .tbilisi path.area.disabled {
  fill:#fffae3;
  stroke:#efdd92;
  stroke-width:1px;
}
 .map .georgia path.area.active, .map .georgia path.area.hover,
 .map .tbilisi path.area.active, .map .tbilisi path.area.hover { /* .map .georgia path.area:hover, */
  stroke:#314451;
  cursor:pointer;
}
.map .georgia path.place {
  fill:#fcf0b4;
  stroke-opacity:0.3;
  stroke:#fcf0b4;
  stroke-width:8px;
  pointer-events:none;
}
.map .georgia-caption, .map .tbilisi-caption {
  font:18px 'dejavusans-el', 'sans-serif';
  color:#97a0a3;
}
.map .georgia-caption:lang(en), .map .tbilisi-caption:lang(en) {
  font:18px 'opensans-l', 'sans-serif';
}


.bar-georgia .bar.active, .bar-georgia .bar.hover {
  stroke:#314451;
  stroke-width:1px;
  cursor:pointer;
}
.bar-georgia .bar rect.l
{

  fill:#56bfbf;
}
.bar-georgia .bar rect.l.beyond
{
  fill:#314451;
}
.bar-georgia .x-axis text
{
  font:12px 'dejavusans-el', 'sans-serif';
  fill:#314451;
  cursor:pointer;
}
.bar-georgia .x-axis text:lang(en)
{
  font:12px 'opensans', 'sans-serif';
}
.bar-georgia .x-axis text.active, .bar-georgia .x-axis text.hover
{
  fill:#000;
}
/************************************** Output *****************************************/
.output {
  margin-top:63px;
}

.output .city {
  font:30px/31px 'dejavusans-m-b', 'sans-serif';
  color:#314451; /* this will be generated dynamically */
  padding:0px 0px 4px 20px;
}
.output .city span {
  font:16px/31px 'dejavusans-el', 'sans-serif';
  color:#5a6972;
}
.output .city:lang(en) {
  font:34px/35px 'opensans-b', 'sans-serif';
}
.output .city span:lang(en) {
  font:16px/31px 'opensans-el', 'sans-serif';
}
.output .phrase {
  padding:12px 0px;
}
.output .box .via-saving {
  margin-right:15px;
}
.output .box .via-saving,
.output .box .via-loan {
  /*min-width:210px;
  max-width:210px;*/
  display:inline-block;
  background-color:#A6EDED;
  padding: 15px 20px 21px;
  border-radius:3px;
  height:260px;
  min-width:260px;
  vertical-align:top;
}
.output .box .amount-box {
  font:15px 'dejavusans-m', 'sans-serif';
  color:#314451;
  background-color:#fffef8;
}
.output .box .amount-box:lang(en) {
  font:15px 'opensans', 'sans-serif';
}
.output .box .amount-box label { display:block; }
.output .box .amount-box .amount {
  font:33px 'dejavusans-b', 'sans-serif';
  color:#314451;
  display:inline-block;
  padding-right:26px;
  letter-spacing:-1px;
  position:relative;
}
.output .box .amount-box .amount:lang(en) {
  font:38px 'opensans-b', 'sans-serif';
  line-height: 37px;
}
.output .box .amount-box .amount.symbol:after {
  content:"";
  display:inline-block;
  background:transparent url(../images/lari.svg) no-repeat center right/22px 26px;
  width: 22px;
  height: 26px;
  position: absolute;
  top: 5px;
  right: 0px;
}

.output .box .years-box .box {
  font:13px 'dejavusans', 'sans-serif';
  color:#314451;
  text-align:center;
  background-color:#fffef8;
  padding: 12px 16px;
  border-radius:3px;
  width:75px;
  display:inline-block;
  position:relative;
}
.output .box .years-box .box:lang(en) {
  font:11px 'opensans', 'sans-serif';
}
.output .box .years-box .years,
.output .box .years-box .months {
  display:block;
  font:40px 'dejavusans-m-cb', 'sans-serif';
  color:#314451;
  height:40px;
}
.output .box .years-box .years:lang(en),
.output .box .years-box .months:lang(en) {
  font:44px 'opensans-b', 'sans-serif';
}
.output .box .via-loan .years-box .years,
.output .box .via-loan .years-box .months
{
  color:#56bfbf;
}
.output .box .years-box .years
{
  /*margin-right:4px;*/
}

.output .box .years-box.disabled .years,
.output .box .years-box.disabled .months {
  color:#314451;
}
.output .box .years-box .moneybox {
  display:inline-block;
  background:transparent url(../images/moneybox.svg) no-repeat center right/70px 53px;
  width:95px;
  height:53px;
}


.chart {
  margin-bottom:38px;
}
.share-this {
  font:16px 'dejavusans-el', 'sans-serif';
  color:#314451;
  text-align:right;
}
.share-this:lang(en) {
  font:16px 'opensans', 'sans-serif';
}
.share-this label {
  vertical-align:top;
  position: relative;
  top: 5px;
}

.share-box {
  margin-top: 30px;
}
.comments {
  font:18px 'dejavusans-m-b', 'sans-serif';
  color:#314451;
  margin:20px 0px;
}
.comments:lang(en) {
  font:18px 'opensans-b', 'sans-serif';
}
.fb-comments {
  width:100%;
  max-width:1100px;
}
@media (min-width: 1100px) {
  .choropleth {
    display:table;
  }
  .page {
    max-width:1100px;
    padding:0px;
  }
  .cell {
    display:table-cell;
  }
  .page > .box > .cell.right {
    min-width: 380px;
  }
  .page .header .lang {
    min-width: 200px;
  }
  .output {
    margin-top:13px;
  }
  .share-box {
    margin-top: 0px;
  }
  .map .tbilisi {
    position:absolute;
    top:180px;
  }
  .footer > .box {
    max-width:1100px;
    padding:0px;
  }
  .footer .left .pipe {
    margin:0px 10px;
  }
}

/*------------------------------------------ Footer ------------------------------------------*/
.footer
{
  width:100%;
  text-align:right;
  background-color:#f2f2f2;
  border-top:1px solid #fffae3;
  min-height:70px;
  position: absolute;
  bottom: 0;
}
.footer > .box {
  margin:0px auto;
  text-align:left;
}
.footer .left {
  text-align:left;
  padding-top: 23px;
  display:inline-block;
}
.footer .left > div {
  display:inline-block;
  font:16px 'dejavusans-el', 'sans-serif';
  color:#314451;
}
.footer .left > div:lang(en) {
  font:16px 'opensans-l', 'sans-serif';
}
.footer .left .pipe {
  margin:0px;
}
.footer > .box {
  padding:0px 10px;
}
.footer a
{
  display:inline-block;
  padding:18px 0px 0px 0px;
}
.footer .download a
{
  padding:0px;
}
.footer .right {
  float:right;
  padding-bottom:10px;
}
.footer .powered-by img
{
  width:135px;
  height:36px;
}
.footer .methodology {
  cursor:pointer;
}
.popup {
  display:none;
}
.popup.open {
  display:block;
}
.popup .bg{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.55);
}
.popup .window {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 670px;

  margin: 0px auto;
  background-color:#fffef8;
}
.popup .window .close {
  background:transparent url(../images/close.svg) center/42px;
  width:42px;
  height:42px;
  position:absolute;
  right:12px;
  top:12px;
  cursor:pointer;
}
.popup .window .content {
  padding: 30px 40px 40px;
}
.popup .window .caption {
  font: 26px 'dejavusans-b', 'sans-serif';
  color:#d94840;
  margin-bottom:10px;
}
.popup .window .caption:lang(en) {
  font: 26px 'opensans-b', 'sans-serif';
}
.popup .window .text {
  font:19px 'dejavusans-el', 'sans-serif';
  line-height:25px;
  color:#314451;
}
.popup .window .text:lang(en) {
  font:19px 'opensans-l', 'sans-serif';
}
.popup .window a {
  font:16px 'dejavusans-b', 'sans-serif';
}
.popup .window a:lang(en) {
  font:16px 'opensans-b', 'sans-serif';
}

.popup .window .header {
  background:transparent url(../images/methodology.jpg) center top;
  height: 186px;
}

/*------------------------------------------ Tip ------------------------------------------*/

.tip {
  font:11px 'dejavusans-el', 'sans-serif';
  color: #314451;
  background: #f2f2f2;
  padding:8px 12px;
  border-radius: 3px;
  text-align: center;
}
.tip:lang(en) {
  font:11px 'opensans', 'sans-serif';
}
/* Creates a small triangle extender for the tooltip */
.tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 11px;
  width: 100%;
  line-height: 1;
  color: #f2f2f2;
  content: "\25BC";
  position: absolute;
  text-align: center;
  transform:scaleX(1.7);
}

/* Style northward tooltips differently */
.tip.n:after {
  bottom: -9px;
  left: 0;
}
.tip.loan-warning {

  text-align:left;
}
.tip.loan-warning span {
  font:11px 'dejavusans-b', 'sans-serif';
}
.tip.loan-warning span:lang(en) {
  font:11px 'opensans-b', 'sans-serif';
}
a.at-share-btn {
  border-radius:3px !important;
  max-width:32px !important;
  max-height:32px !important;
}
a.at-svc-facebook { background: #45669b !important; }
a.at-svc-twitter { background: #00aced !important; }
a.at-svc-compact { background: #64cc7f !important; }
.at-share-btn .at4-icon {
  width:32px !important;
  height:32px !important;
  line-height:32px !important;
}
.aticon-facebook { background:transparent url(../images/fb.svg) no-repeat center center/28px 28px !important; }
.aticon-twitter { background:transparent url(../images/twitter.svg) no-repeat center center/28px 28px !important; }
.aticon-compact { background:transparent url(../images/more.svg) no-repeat center center/28px 28px !important; }
.addthis_sharing_toolbox { display: inline-block; }


/*------------------------------------------ Dropdown ------------------------------------------*/
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown .dropdown-toggle {
  font:18px 'dejavusans-m-b', 'sans-serif';
  color:#314451;
  background-color:#a6eded;
  padding:10px 14px;
  border:0px;
  border-radius:3px;
  margin:0;
  outline:none;
  text-align:center;
  cursor:pointer;
}
.dropdown .dropdown-toggle:lang(en) {
  font:20px 'opensans-b', 'sans-serif';
}
.dropdown .dropdown-toggle:after {
  content:"";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  vertical-align: middle;
  border-top: 6px dashed;
  border-top: 6px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 100%;
  padding:0;
  margin:0;
  list-style: none;
  border-radius: 3px;
  overflow:hidden;
}
.dropdown.open .dropdown-menu {
  display:block;
}
.dropdown .dropdown-menu li a {
  font:13px 'dejavusans-m-b', 'sans-serif';
  color:#314451;
  background-color:#d9f9f7;
  display:inline-block;
  width: 100%;
  padding: 8px 10px 8px 14px;
}
.dropdown .dropdown-menu li a:lang(en) {
  font:15px 'opensans-b', 'sans-serif';
}
.dropdown .dropdown-menu li a:hover,
.dropdown .dropdown-menu li.selected a {
  color:#ff6043;
  background-color:#a6eded;
}
