html, body, .fh {
  height: 100%;
  min-height: 100%;
}

div.table, section.table {
  display: table;
  margin: 0px auto;
  width: auto;
}

div.table .cell, section.table .cell {
  display: table-cell;
  vertical-align: middle;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}



#page1 {
  width: 100%;
  height: 145%;
  background: #52b2a2;
  text-align: center;
}

#page1 .table {
  height: 68.965%; /*100/145*/
}

#page1 h1 {
  text-transform: uppercase;
  font-family: rawengulk_regular;
  color: #fff;
  font-weight: normal; 
  font-size: 40px;
  margin: 0px;
}


#page2 {
  width: 100%;
  background: #52b2a2;
  text-align: center;
  font-family: breeserif_reg;
}


#page2 .top {
  
}

#page2 .top h1 {
  color: #fff;
  font-size: 57px;
}

#page2 .top h4 {
  color: #fff;
}

#page2 .middle h2 {
  color: #145649;
  font-size: 18px;
}

#page2 .middle h2 span {
  color: #fff;
  font-size: 33px;
  text-transform: uppercase;
  font-family: rawengulk_bold;
}

#page2 .middle h3 {
  color: #145649;
  font-size: 25px;
}

#page2 .bottom h2 {
  color: #145649;
  font-size: 18px;
}

#page2 .bottom h2 span {
  color: #fff;
  font-size: 59px;
}

#page2 .bottom h2 span:last-child {
  font-size: 18px;
}

#page2 .bottom h3 {
  color: #fff;
  font-size: 25px;
  padding-left: 130px;
}





#page3 {
  background: #f7f7f0;
}

#page3 h1 {
  padding-bottom: 20px;
  color: #fff;
  font-size: 48px;
  font-family: breeserif_reg;
  text-transform: uppercase;
  background: #52b2a2;
  margin: 0px;
  text-align: center;
  line-height: 1;
}

#page3 .caret {
  width: 0px;
  height: 0px;
  margin: 0px auto;
  border: solid transparent;
  border-width: 60px 85px 0px;
  border-top-color: #52b2a2;
  display: block;
}



























