html, body, .fh {
  height: 100%;
  min-height: 100%;
}

div.table, section.table {
  display: table;
  margin: 0px auto;
  width: auto;
}

div.table .cell, section.table .cell {
  display: table-cell;
  vertical-align: middle;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}


body {
  background: #f7f7f0;
  padding-left: 90px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
        	box-sizing: border-box;  
}

#sidebar {
  background: #000;
  width: 90px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 2000;
}


#page1 {
  width: 100%;
  height: 100%;
  background: #52b2a2;
  text-align: center;
}

#page1 .table {
  height: 100%; /*100/145*/
}

#page1 h1 {
  text-transform: uppercase;
  font-family: rawengulk_regular;
  color: #fff;
  font-weight: normal; 
  font-size: 40px;
  margin: 0px;
}


#page2 {
  right: 0px;
  height: 100%;
  background: #52b2a2;
  text-align: center;
  font-family: breeserif_reg;
}


#page2 .top {
  opacity: 0;
}

#page2 .top h1 {
  color: #fff;
  font-size: 57px;
}

#page2 .top h4 {
  color: #fff;
}

#page2 .middle h2 {
  color: #145649;
  font-size: 18px;
}

#page2 .middle h2 span {
  color: #fff;
  font-size: 33px;
  text-transform: uppercase;
  font-family: rawengulk_bold;
}

#page2 .middle h3 {
  color: #145649;
  font-size: 25px;
}

#page2 .bottom {
  background: #52b2a2;
  text-align: center;
  position: relative;
  top: 500px;
}

#page2 .bottom h2 {
  color: #145649;
  font-size: 18px;
}

#page2 .bottom h2 span {
  color: #fff;
  font-size: 59px;
}

#page2 .bottom h2 span:last-child {
  font-size: 18px;
}

#page2 .bottom h3 {
  color: #fff;
  font-size: 25px;
  padding-left: 130px;
}





#page3 {
}

#page3 h1 {
  padding: 400px 0px 20px 0px;
  color: #fff;
  font-size: 48px;
  font-family: breeserif_reg;
  text-transform: uppercase;
  background: #52b2a2;
  margin: 0px;
  text-align: center;
  line-height: 1;
}

#page3 .caret {
  width: 0px;
  height: 0px;
  margin: 0px auto 400px;
  border: solid transparent;
  border-width: 60px 85px 0px;
  border-top-color: #52b2a2;
  display: block;
}






#ballots {

}

#ballots .all {
  z-index: 1000;
  background: #f7f7f0;
}

#ballots .all ul {
  list-style: none;
}

#ballots .all li {
  float: left;
  width: 11.1111111%;
  text-align: center;
  visibility: hidden;
}

#ballots .all li img {
  cursor: pointer;
}


#ballots .list {
  margin-top: 20px;
}

#ballots .list ul {
  list-style: none;
}

#ballots .list li {
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 45px;
}

#ballots .list li img:not(.index):not(.mark) {
  margin-top: 17px;
}

#ballots .list li img.index {
  width: 33px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin: 0px 0px 0px -16.5px;
}

#ballots .list li .mark {
  position: absolute;
  z-index: 1100;
  bottom: 0px;
  left: 0px;
  width: 11.111111%;
  text-align: center;
}

#ballots .list li .mark img {
}

#ballots .list li:nth-child(2) .mark {
  left: 11.11111%;
}

#ballots .list li:nth-child(3) .mark {
  left: 22.22222%;
}

#ballots .list li:nth-child(4) .mark {
  left: 33.33333%;
}

#ballots .list li:nth-child(5) .mark {
  left: 44.44444%;
}

#ballots .list li:nth-child(6) .mark {
  left: 55.55555%;
}

#ballots .list li:nth-child(7) .mark {
  left: 66.66666%;
}

#ballots .list li:nth-child(8) .mark {
  left: 77.77777%;
}

#ballots .list li:nth-child(9) .mark {
  left: 88.88888%;
}









#page5 {
  margin-top: 100px;
  min-height: 100%;
}

#page5 header {
  text-align: center;
  font-family: rawengulk_bold;
  color: #aa1313;
  font-size: 30px;
  text-transform: uppercase;
}



#question_marks {
  margin-top: 25px;
}

#question_marks > div {
  float: left;
}

#question_marks > div:nth-child(1) {
  
}

#question_marks > div:nth-child(2) {
  margin-left: 45%;
}

#question_marks > div:nth-child(3) {
  margin-left: 9%;
}

#question_marks > div:nth-child(4) {
  margin-left: 18%;
}









































