@font-face {
  font-family: 'dejavu_regular';
  src: url('../fonts/dejavu/regular/ttf3.eot');
  src: local('☺'), url('../fonts/dejavu/regular/ttf3.ttf') format('truetype'), url('../fonts/dejavu/regular/ttf3.woff') format('woff'), url('../fonts/dejavu/regular/ttf3.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bpg_nino_elite_exp';
  src: url('../fonts/bpg_nino_elite_exp/bpg_nino_elite_exp.eot');
  src: local('☺'), url('../fonts/bpg_nino_elite_exp/bpg_nino_elite_exp.woff') format('woff'), url('../fonts/bpg_nino_elite_exp/bpg_nino_elite_exp.ttf') format('truetype'), url('../fonts/bpg_nino_elite_exp/bpg_nino_elite_exp.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
body {
  background: #e2e2e2 url('http://data.electionportal.ge/assets/body-bg.jpg');
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
#wrapper {
  min-height: 100%;
  margin: 0px;
  position: relative;
}
#wrapper header {
  text-align: center;
}
#wrapper header h1 {
  font-family: dejavu_regular;
  font-size: 18px;
  color: #111;
  margin: 0px;
  line-height: 1.5;
}
#wrapper header h5 {
  margin: 9px 0px 0px;
  font-size: 14px;
  line-height: 1.2;
  font-family: 'bpg_nino_elite_exp';
  color: #4D4D4D;
}
#content {
  padding: 37px 0px 50px;
}
#locale {
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 25px;
  color: #5d5d5d;
}
#object {
  margin-top: 50px;
  position: relative;
}
#object .step {
  position: relative;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#object .step:not(.active) {
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
#object .step.active {
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
}
#object .title {
  text-align: center;
  line-height: 1.6;
  font-family: dejavu_regular;
  color: #7D7D7D;
  font-size: 14px;
  margin: 0px;
}
#object .legend {
  position: absolute;
  z-index: 200;
  left: 730px;
  top: 40px;
}
#object .legend .items .item {
  font-size: 12px;
  font-family: 'bpg_nino_elite_exp';
  line-height: 1.3;
}
#object .legend .items .item:not(:last-child) {
  margin-bottom: 5px;
}
#object .legend .items .item div {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0px 3px 0px 0px;
  vertical-align: middle;
}
#object .legend .items .item.no div {
  background-color: #cecece;
}
#object .legend .items .item.gd div {
  background-color: #1B70AF;
}
#object .legend .items .item.unm div {
  background-color: #c94647;
}
#object .legend .items .item.pk div {
  background-color: #cad182;
}
#object .legend .items .item.gch div {
  background-color: #d9c4a4;
}
#object .legend .items .item.shalva div {
  background-color: #ac8383;
}
#object-container {
  position: relative;
  display: table;
  margin: 0px auto;
}
#object-container .map-title {
  position: absolute;
  z-index: 333;
  line-height: 1.6;
  font-family: dejavu_regular;
  letter-spacing: 1px;
  color: #7D7D7D;
  font-size: 16px;
}
#object-container .map-title.georgia {
  top: 92px;
  left: 365px;
}
#object-container .map-title.tbilisi {
  top: 310px;
  left: 861px;
}
#buttons {
  position: relative;
  z-index: 333;
  margin: -20px 0px 0px 13px;
}
#buttons .btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 31px;
  height: 31px;
  padding: 0px;
  background: #e5a3a3 center center no-repeat;
  border: 3px solid #dadada;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}
#buttons .btn:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#buttons .play,
#buttons .pause {
  display: none;
}
#buttons .play.visible,
#buttons .pause.visible {
  display: inline-block;
}
#buttons .play {
  background-image: url(../../img/play.png);
}
#buttons .pause {
  background-image: url(../../img/pause.png);
}
#buttons .left {
  background-image: url(../../img/left.png);
}
#buttons .right {
  background-image: url(../../img/right.png);
}
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
}
footer .row-fluid {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#logo-container {
  float: right;
}
#logo-container a {
  display: block;
  text-decoration: none;
}
#logo-container a div {
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
}
#logo-container a div img {
  width: auto;
  max-width: none;
}
