body{
  background-color: #e6e6e6;
  margin: 20px;
}
#header{
  margin-bottom: 20px;
}

#container #explanation{
  float: left;
  width: 300px;
  height: 315px;
  background-color: #fff;
  padding: 0 10px;
  font-size: 13px;
}
#container #chart_nav{
  float: left;
  width: 200px;
  text-align: center;
  height: 315px;
}
#container #chart_nav ul {
  padding-left: 0;
  margin: 0 10px;
}
#container #chart_nav ul li{
  list-style-type: none;
  height: 66px;
  margin: 17px 0;
  font-size: 25px;
}
#container #chart_nav ul li#trust {
  margin-top: 0;
  background-color: #23a570;
}
#container #chart_nav ul li#distrust {
  background-color: #db5d5d;
}
#container #chart_nav ul li#partial {
  background-color: #48617a;
}
#container #chart_nav ul li#not_know {
  background-color: #666666;
}
#container #chart_nav ul li.active {
  margin-top: 0;
  background-color: #fff !important;
  margin-right: -10px;
}

#container #chart_nav ul li a{
  display: block;
  width: 100%;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  padding-top: 20px;
  font-weight: bold;
}

#container #chart_nav ul li#partial a{
  padding-top: 2px;
}

#container #chart_nav ul li#trust.active a {
  color: #23a570;
}
#container #chart_nav ul li#distrust.active a {
  color: #db5d5d;
}
#container #chart_nav ul li#partial.active a {
  color: #48617a;
}
#container #chart_nav ul li#not_know.active a {
  color: #666666;
}


#container #chart_container{
  float: left;
  min-width: 400px; 
  height: 400px; 
  margin: 0 auto;
  background-color: #fff;
}

#container:after, #bottom_container:after{
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

#bottom_container{
  margin-top: 15px;
  background-color: #c2c2c2;
  text-align: center;
}
#bottom_container > div {
  display: inline-block;
  width: 20%;
  margin: 30px 0 30px 30px;  
  background-color: #fff;
  min-height: 75px;
  padding: 10px;
  font-size: 12px;
}

#bottom_container > div:first-of-type {
  margin-left: 0;  
}



#tooltip {
  position: absolute;
}

#tooltip .chart {
  width: 220px;
  height: 170px;
}

#tooltip .before {
  margin: 0 auto;
  width: 0px;
  display: block;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  border-top: none;
}



