@font-face {
  font-family: 'themix_light';
  font-style: normal;
  font-weight: normal;
  src: url('http://feradi.info/assets/themix-3-light-webfont.ttf');
}
@font-face {
  font-family: 'themix_regular';
  font-style: normal;
  font-weight: normal;
  src: url('http://feradi.info/assets/themix-5-regular-webfont.ttf');
}
@font-face {
  font-family: 'exo_regular';
  font-style: normal;
  font-weight: normal;
  src: url('http://feradi.info/assets/Exo-Regular.otf');
}
@font-face {
  font-family: 'exo_light';
  font-style: normal;
  font-weight: normal;
  src: url('http://feradi.info/assets/Exo-Light.otf');
}
/*
@font-face
{
  font-family: 'dejavu';
  font-style: normal;
  font-weight: normal;
  src: url('http://feradi.info/assets/BPG_Dejavu_Sans_M.ttf');
}

@font-face
{
  font-family: 'ingiri';
  font-style: normal;
  font-weight: normal;
  src: url('http://feradi.info/assets/bpg_ingiri_arial.ttf');
}
*/
body > header {
  height: 55px;
}
body > footer {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 20px 25px 10px;
}
body > footer .logo {
  text-align: right;
}
.navbar .nav > li.social_link > a {
  padding: 10px 5px 10px;
  opacity: 0.7;
}
.navbar .nav > li.social_link > a img {
  width: 20px;
}
.navbar .nav > li.social_link > a:hover {
  opacity: 1.0;
}
