@import "mixins.less";
@import "fonts.less";


h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}


body > header {
  height: 55px;
}

body > footer {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 20px 25px 10px;
  .logo {
    text-align: right;
  }
}


main {
  .visual {
    display: table;
    margin: 20px auto;
    text-align: left;
    header {
      font-family: exo_regular;
      text-transform: uppercase;
    }
    footer {
      font-family: themix_light;
    }
  }
}
