@import "mixins.less";
@import "fonts.less";


h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}


body > header {
  height: 55px;
}

body > footer {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 20px 25px 10px;
  margin-top: 100px;
  .logo {
    text-align: right;
  }
}


main {
  .text {
    max-width: 1000px;
    margin: 0px auto;
    font-family: themix_regular;
    p {
      text-indent: 15px;
    }
  }

  .visual {
    max-width: 1000px;
    margin: 40px auto 0px;
    border-top: 3px ridge #ccc;
    padding-top: 40px;
    text-align: left;
    header {
      font-family: exo_regular;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    footer {
      font-family: themix_light;
      margin-top: 5px;
    }
  }
}
