
/* #impress:not(.step-overview) .substep:not(.active):not(.previous) { */
/*   opacity: 0; */
/* } */

/* .impress-not-supported#impress:not(.step-overview) .substep:not(.active):not(.previous) { */
/*   opacity: 1; */
/* } */


.substep {
  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
}

.substep {
  opacity: 0;
}

/* override for animated substeps */
.substep.anim {
  opacity: 1;
}

.substep.active {
  opacity: 1;
}


svg .substep.previous {
  opacity: 1; 
}

.substep.previous {
  opacity: 0.75;
}


.step:not(.active).invisible {
	opacity:0.0;
}

img.loupe {
  position: relative;
  z-index: 200;
}


.impress-enabled .step.section-heading {
  width: 450px;
  height: 350px;
  background-color: rgba(0, 0, 0, .8);
  border: 3px solid #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  text-align: center;

  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1px;
}


#how-vote-works-election-code li:first-child {
  background-color: #999;
}

#how-vote-works-turn-in-ballots li:nth-child(5) {
  background-color: #999;
}

#how-vote-works-counting-ballots li:nth-child(6) {
  background-color: #999;
}

#problem-counting-ballots-explanation img,
#problem-counting-ballots-validation-eq img, 
#problem-counting-ballots-validation-votes-gt-party img, 
#problem-counting-ballots-validation-votes-gt-party2 img, 
#problem-counting-ballots-validation-party-gt-votes img,
#problem-counting-ballots-validation-party-gt-votes2 img,
#problem-counting-ballots-validation-signatures img,
#cec-data-entry-mistakes-ex1 > div > img,
#cec-data-entry-mistakes-ex2 > div > img,
#cec-data-entry-mistakes-summary > div > img{
  float:left;
  margin-right: 5px;
}
#problem-counting-ballots-explanation li,
#cec-data-entry-mistakes li{
  font-size: 20px;
}
#problem-counting-ballots-explanation li:nth-child(6) {
  margin-top: 100px;
}
#problem-counting-ballots-explanation li:nth-child(7) {
  margin-top: 80px;
}
#problem-counting-ballots-explanation li:nth-child(8) {
  margin-top: 40px;
}

#problem-counting-ballots-validation-eq > div, 
#problem-counting-ballots-validation-votes-gt-party > div, 
#problem-counting-ballots-validation-votes-gt-party2 > div, 
#problem-counting-ballots-validation-party-gt-votes > div,
#problem-counting-ballots-validation-party-gt-votes2 > div,
#problem-counting-ballots-validation-signatures > div,
#error-stats-proportional > div,
#error-stats-majoritarian > div,
#cec-data-entry-mistakes-ex1 > div,
#cec-data-entry-mistakes-ex2 > div,
#cec-data-entry-mistakes-summary > div{
  font-size: 20px;
  line-height: 1.3;
}
#problem-counting-ballots-validation-eq #problem-counting-ballots-validation-eq-ex{
  margin-top: 20px;
}
#problem-counting-ballots-validation-eq #problem-counting-ballots-validation-eq-ex > div,
#problem-counting-ballots-validation-votes-gt-party > div > div, 
#problem-counting-ballots-validation-votes-gt-party2 > div > div, 
#problem-counting-ballots-validation-party-gt-votes > div > div,
#problem-counting-ballots-validation-party-gt-votes2 > div > div{
  margin-top: 10px;
}
#problem-counting-ballots-validation-signatures > div{
  margin-top: 400px;
}


#how-vote-works-data-entry-mistakes li:nth-child(8) {
  background-color: #999;
}

#cec-data-entry-mistakes-ex1 #cec-data-entry-mistakes-ex1-text tr,
#cec-data-entry-mistakes-ex2 #cec-data-entry-mistakes-ex2-text tr{
  border-bottom: solid 1px #000;
}
#cec-data-entry-mistakes-ex1 #cec-data-entry-mistakes-ex1-text th,
#cec-data-entry-mistakes-ex1 #cec-data-entry-mistakes-ex1-text td,
#cec-data-entry-mistakes-ex2 #cec-data-entry-mistakes-ex2-text th,
#cec-data-entry-mistakes-ex2 #cec-data-entry-mistakes-ex2-text td{
  padding: 4px;
}

#cec-data-entry-mistakes-ex1 > div:after
#cec-data-entry-mistakes-ex2 > div:after
#cec-data-entry-mistakes-summary > div:after{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

#error-stats-gori > div {
  font-size: 20px;
}
#error-stats-gori h2 {
  text-align: center;
}
#error-stats-gori #error-stats-gori-prop,
#error-stats-gori #error-stats-gori-major{
  float:left;
  width: 48%;
  margin-right: 15px;
}

#sources a {
  text-decoration: underline;
  text-shadow: none;
}
/*
#impress img{
  cursor: pointer;
}
*/
.map-legend > div {
  float: left;
  margin-right: 10px;
}
.map-legend:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.map-legend span{ 
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 4px;
}


/* hint on the first slide */
.impress-enabled #hint {
  display: block;
	position: fixed;
	left: 0;
	right: 0;
	bottom: -100px;

	background: #333;
	color: #fff;
	text-align: right;

	padding: 10px;
	z-index: 100;

	opacity: 0;

	-webkit-transform: translateY(400px);
	-moz-transform:    translateY(400px);
	-ms-transform:     translateY(400px);
	-o-transform:      translateY(400px);
	transform:         translateY(400px);

	-webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
	-moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
	-ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
	-o-transition:      opacity 1s,      -o-transform 0.5s 1s;
	transition:         opacity 1s,         transform 0.5s 1s;

}

.impress-on-title #hint {
	opacity: 1;
	bottom: 0px;

	-webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
	-moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
	-ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
	-o-transition:      opacity 1s 5s,      -o-transform 0.5s;
	transition:         opacity 1s 5s,         transform 0.5s;

	-webkit-transform: translateY(0px);
	-moz-transform:    translateY(0px);
	-ms-transform:     translateY(0px);
	-o-transform:      translateY(0px);
	transform:         translateY(0px);
}

/* slide counter */
.impress-enabled #slide_count {
  display: block;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0px;

	background: transparent;
	color: #000;
	text-align: center;

	padding: 10px;
	z-index: 100;

	opacity: 1;
}

