/*
@font-face
{
  font-family: 'themix_light';
  font-style: normal;
  font-weight: normal;
  src: url('http://feradi.info/assets/themix-3-light-webfont.ttf');
}

@font-face
{
  font-family: 'themix_regular';
  font-style: normal;
  font-weight: normal;
  src: url('http://feradi.info/assets/themix-5-regular-webfont.ttf');
}

@font-face
{
  font-family: 'exo_regular';
  font-style: normal;
  font-weight: normal;
  src: url('http://feradi.info/assets/Exo-Regular.otf');
}

@font-face
{
  font-family: 'exo_light';
  font-style: normal;
  font-weight: normal;
  src: url('http://feradi.info/assets/Exo-Light.otf');
}
*/
@font-face {
  font-family: 'dejavu';
  font-style: normal;
  font-weight: normal;
  src: url('http://feradi.info/assets/BPG_Dejavu_Sans_M.ttf');
}
@font-face {
  font-family: 'ingiri';
  font-style: normal;
  font-weight: normal;
  src: url('http://feradi.info/assets/bpg_ingiri_arial.ttf');
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}
body > header {
  height: 55px;
}
body > footer {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 20px 25px 10px;
  margin-top: 100px;
}
body > footer .logo {
  text-align: right;
}
main .text {
  max-width: 1000px;
  margin: 0px auto;
  font-family: ingiri;
}
main .text p {
  text-indent: 15px;
}
main .visual {
  max-width: 1000px;
  margin: 40px auto 0px;
  border-top: 3px ridge #ccc;
  padding-top: 40px;
  text-align: left;
}
main .visual header {
  font-family: dejavu;
  text-transform: uppercase;
  margin-bottom: 12px;
}
main .visual footer {
  font-family: ingiri;
  margin-top: 5px;
}
