@import "mixins.less";
@import "../fonts/dejavu/regular/fonts.less";

@ptsans: 'PT Sans Narrow', sans-serif;
@dejavu_regular: 'dejavu_regular';


h1, h2, h3, h4, h5 {
  font-weight: normal;
}


body {
  background: #e2e2e2;
}



#wrapper {
  display: table;
  margin: 10px auto 0px;
  header {
    font-family: @dejavu_regular;
    text-align: center;
    h1 {
      margin: 0px;
    }
    h5 {
      margin: 2px 0px 0px;
      font-size: 16px;
    }
  }
}


#locale {
  position: absolute;
  z-index: 100;
  top: 5px;
  right: 10px;
}

#object {
  margin-top: 20px;
  position: relative;
  .step {
    position: relative;
    .opacity(1);
    &:not(.active) {
      .transition(opacity 1.0s ease-out);
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      .opacity(0);
    }
    &.active {
      .transition(opacity 0.5s ease-out);
    }
    .title {
      font-family: @dejavu_regular;
      text-transform: uppercase;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    img {
      
    }
  }
}



#object-container {
  position: relative;
}

#legend {
  position: absolute;
  z-index: 200;
  right: 0px;
  top: 80px;
  .title {
    margin-bottom: 5px;
    font-family: @dejavu_regular;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
  }
  .items {
    .item {
      font-size: 14px;
      line-height: 1.3;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
      div {
        width: 15px;
        height: 15px;
        display: inline-block;
        margin: 0px 3px 0px 0px;
        vertical-align: middle;
      }
      &.no {
        div {
          background-color: #ccc;
        }
      }
      &.gd {
        div {
          background-color: #1B70AF;
        }
      }
      &.unm {
        div {
          background-color: #CA4748;
        }
      }
    }
  }
}



#buttons {
  .no-highlight();
  .play, .pause {
    width: 40px;
    .box-sizing();
    display: none;
    &.active {
      display: inline-block;
    }
  }
  .play {
  }
  .pause {
  }
}















































