@font-face {
    font-family: "main";    
    src: url( '../fonts/Humnst777_BlkCn_BT_Black.ttf') format("truetype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "dejavusans-b";    
    src: url( '../fonts/DejaVuSans-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "dejavusans-m";    
    src: url( '../fonts/DejaVu_Sans_Regular_Condensed_M_1.ttf') format("truetype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "dejavusans-c";    
    src: url( '../fonts/DejaVuSansCondensed.ttf') format("truetype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "dejavusans-cb";    
    src: url( '../fonts/DejaVuSansCondensed-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "dejavusans-cbo";    
    src: url( '../fonts/DejaVuSansCondensed-BoldOblique.ttf') format("truetype");
    font-style: normal;
    font-weight: 200;
}
body,html
{
  margin:0px;
  height:100%;
  background-color:#eff4f4;
  color:#4c6d8b;  
}
.wrapper
{
  margin:0px auto;
  height:100%;
  width:1024px;
  padding:0px 10px;
}
.border
{
  border-bottom:1px solid #bfcfd8;
} 
.unit 
{
  padding-left:10px;
  display:inline-block;
}
.share.top
{
  text-align:right;
  margin-top: 10px;
  height:24px;
}
.share .addthis_sharing_toolbox
{
  display:inline-block;
}
.header
{
  font-family:main;
  font-size:52px;
  color:#4c6d8b;
  padding:0px 10px 20px;
  margin:20px 0px 40px;
  text-align:center;
}
.header:lang(ka)
{
font-family: 'dejavusans-m';
font-size: 32px;
font-weight: bold;
line-height: 47px;
letter-spacing: 2px;
}
.header .number
{
  font-family:main;
  font-size:39px;
  font-weight:normal;
}
.header .pad
{
  padding-top:8px;
  display:inline-block;
}

.lang_switch
{
  margin:2px 0px 0px 10px;
  display:inline-block;
  vertical-align: top;
  
}
.lang_switch a
{
  font-family:'dejavusans-m';
  font-size:14px;  
  color:#4c6d8b;
  text-transform:uppercase;  
  margin:0px auto;
  text-align:center;
  text-decoration:none;
}
.intro .text,.intro .course
{
  display:inline-block;
}
.intro 
{
  font-family:Arial;
  font-size:19px;
  line-height:25px;
  display:table;
  width:100%;  
  padding-bottom:30px;
  margin:20px 0px 30px;
  color:#4c6d8b;
}
.intro:lang(ka)
{
  font-family:'dejavusans-c';
  font-size: 16px;
  line-height: 28px;
}
.intro  .text
{
  display:table-cell;    
  padding-right:35px;   
  vertical-align: baseline; 
}
.intro .text i:lang(ka)
{
  font-family:'dejavusans-cbo';
  font-size:19px;
}
.intro .text b:lang(ka)
{
  font-family:'dejavusans-cb';
  font-size:19px;
}
.intro .course
{
  text-align:right;
  display:table-cell;
  vertical-align:middle;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family:Arial;
  font-size:21px;
  font-weight:bold;
  color:#4c6d8b;
  background-color:#cadbe0;
  width:415px;
  line-height: 31px;
}
.intro .course:lang(ka)
{
  font-family:'dejavusans-cb';
  font-size:17px;
  font-weight:normal;
  width:500px;
}
.intro .course > div
{
  padding: 10px 25px 10px 10px;
}
 .intro .course span
{
  font-family:Arial;
  font-style: italic;
  font-weight:bold;
  color:#fff;
}   
.intro .course span:lang(ka)
{
  font-family:'dejavusans-cbo';
  font-size:17px;
  font-style:normal;
  font-weight:normal;
}    
.quote
{
  font-family: Arial;
  font-size: 18px;
  font-weight:bold;
  color:#fff;
  text-align:left;
  line-height:28px;
  padding: 0px 0px 0px 140px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background:#cadbe0 url(../images/poster.png) left top no-repeat;
  background-size:192px 117px;
  min-width:192px;
  min-height:117px;
  margin-bottom:35px;
}
.quote:lang(ka)
{
  font-family:'dejavusans-cb';
  font-size:16px;
  font-weight:normal;  
  padding: 0px 0px 0px 130px;
}
.quote .text
{
  padding:16px 20px 0px 0px;        
}
.quote .text:lang(ka)
{
  padding:14px 30px 0px 0px;  
}
.quote .text span
{
  color:#7a97a0;
}
.quote .text a
{
  color:#7a97a0;
  font-style:italic;
  text-decoration:none;
}
.quote .text a:lang(ka)
{
  font-family:'dejavusans-cbo';
  font-size:17px;
  font-style:normal;  
}
#eq
{
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color:#d1e2e6;        
}
#eq .title
{
  font-family: main;
  font-size:32px;
  color:#fff;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color:#f1625f;
  color:#fff;
  padding:25px;
}
#eq .title:lang(ka)
{
  font-family:'dejavusans-cb';
  font-size:26px;
}
#eq .content
{
  background:transparent url(../images/fight.png) right bottom no-repeat;
  background-size:361px 277px;
  min-width:361px;
  min-height:277px;
  padding: 40px 60px 15px;
}
#eq .content:lang(ka)
{
  padding: 40px 0px 15px 35px;
}
#eq .content .form-input
{
  padding:0px 0px 30px 10px;
}
#eq .content .form-input label
{
  font-family: Arial;
  font-size:17px;
  text-align:left;
  display:inline-block;
  padding:0px 10px;
}
#eq .content .form-input label:lang(ka)
{
  font-family:'dejavusans-c';
  text-align:right;  
  font-size:15px;
  padding:0px 14px 0px 5px;
}
#eq .content .form-input label > span
{
  display:block;
}
#eq .form-input  input#worth
{
  font-family:main;
  font-size:42px;
  color:#f1625f;
  background-color:#fff;
  text-align:right;
  width: 264px;
  padding:0px 14px;
  border: 0px;
 -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
} 
#eq .form-input .unit
{
  font-family:main;
  font-size:31px;
}
#eq .form-input .unit:lang(ka)
{
  font-family:'dejavusans-b';   
  font-size:21px;
}


#eq #results label
{
  font-family:main;
  font-size:23px;
}
#eq #results label:lang(ka)
{
  font-family:'dejavusans-cb';
  font-size:19px;
  padding-left:56px;
}
#eq #results .result
{
  font-family:Arial;
  font-size:18px;
  text-align:left;
  margin:5px 0px 15px 9px;
  border-collapse: collapse;
}
#eq #results .result:lang(ka)
{
  margin:5px 0px 15px 3px;
}
#eq #results .result .date
{  
  font-family:Arial;
  font-size:17px;
  padding:12px 0px 12px 10px;
  text-align:right;
}
#eq #results .result .date:lang(ka)
{
  font-family:'dejavusans-c';
  font-size:15px;
}
#eq #results .result #worth_then,
#eq #results .result #worth_now
{
  font-family:main;
  font-size:28px;
  color:#f1625f;
  background-color:#fff;
  padding:0px 12px;
  margin:0px 0px 0px 15px;
  text-align:right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-width: 70px;
  display: block;
  width: auto;
  height: 36px;
}  
#eq #results .result .unit
{
  font-family:main;
  font-size:26px;  
  padding-left:3px;
} 
#eq #results .result .unit:lang(ka)
{
  font-family:'dejavusans-cb';
  font-size: 17px;
  vertical-align: -webkit-baseline-middle;
}


#eq #results .diff
{
  font-family:main;
  font-size:23px;
  margin:30px 0px 20px;
  
}
#eq #results .diff label
{
  font-family:main;
  font-size:23px;
}
#eq #results .diff label:lang(ka)
{
  font-family:'dejavusans-cb';
  font-size:19px;
}
  #eq #results .diff > div
 {          
    margin-top: 13px;
    display:block;
    padding-left:208px;
 }
 #eq #results .diff > div:lang(ka)
 {   
  padding-left:230px;
 }
#eq #results .diff > div > div
 {          
    display:inline-block;
    height: 100%;
    vertical-align: middle;
 }
 #eq #results .diff > div #worth_difference
 {
    padding-left:150px;
    font-family:main;
    font-size:42px;
    color:#fff;
    background-color:#f1625f;
    padding:0px 12px;
    text-align:right;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius: 5px;
    min-width: 264px;
    display: inline-block;
    width: auto;
    height: 51px;
 }
 #eq #results .diff > div .unit
 {
    font-family:main;
    font-size:31px;
 }
  #eq #results .diff > div .unit:lang(ka)
  {
    font-family:'dejavusans-cb';
    font-size:21px;
    vertical-align: -webkit-baseline-middle;
  }

.methodology
{
  font-family: Arial;
  font-size:17px;
  line-height:23px;
  width:100%;
  display:table;
  padding:20px 0px;
  margin:20px 0px 12px;
}
.methodology:lang(ka)
{
  font-family:'dejavusans-c';
  font-size:16px;
}
.methodology > div
{
  display:table-cell;
  vertical-align:top;
}
.methodology .f
{
  font-family: main;
  font-size: 38px;
  width: 400px;
  padding-left:25px;
}
.methodology .f:lang(ka)
{
  font-family:'dejavusans-cb';
  font-size: 27px;
  line-height: 34px;
  width: 250px;
}
.methodology .l:lang(ka)
{
  padding-right: 150px;
}
.footer
{
  width:100%;
  margin-bottom:20px;
  height:42px;
}
.footer > div 
{
  display:inline-block;
}
.footer .share
{
  font-family: Arial;
  font-size:16px;
  float:right;
  margin-top:10px;
}
.footer .share span
{
  padding-right:10px;
  vertical-align: middle;
}