@font-face {
  font-family: 'officina-book';
  src: url('../fonts/OfficinaSansStd-Book.otf') format('opentype');
}
@font-face {
  font-family: 'officina-bold';
  src: url('../fonts/OfficinaSansStd-Bold.otf') format('opentype');
}

html, body
{
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  background-color:#31b9dd;
}
.wrapper
{
  width:100%;
  height:100%;
}
.loader
{

  width:100%;
  height:100%;  
}
.magnet > div 
{
  display:inline-block;
}
.magnet.center
{
  margin:0px auto;
  text-align:center;
}
.magnet.middle
{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.human
{

  width:52px;
  height:113px;
}
.man
{
  background:transparent url('../images/man.svg') center center no-repeat;  
  background-size:100%;
}
.woman
{
  background:transparent url('../images/woman.svg') center center no-repeat;  
  background-size:100%;
}
.woman-d
{
  background:transparent url('../images/woman_d.svg') center center no-repeat;  
  background-size:100%;
  opacity:1 !important;
}
.muted
{
  opacity:1;
}
.content
{
  display:none;
  width:100%;
  height:100%;
}
.content .page
{
  width:100%;
  min-height:100%;
}
.content .grid
{
  text-align: center;
  margin:10px 10px 10px 10px;
  display:inline-block;
  position:relative;  
}
.content .people
{
  display:inline-block;
  z-index:2;
}
.content .data
{
  font-family:'officina-bold';
  font-size:33px;
  color:#fff;
  display:inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index:1;
  opacity:0;
  background-color:#31b9dd;
}
.content .grid .people > div
{
  display:inline-block;
  float:left;
}
.content .grid .people > div:nth-child(39n+1)
{
  clear:left;
}
/* --------------------------------- timeline ------------------------ */
.content .timeline
{
  height:100px;
  width:100%;
  margin:40px auto;
  display:inline-block;

}
.content .timeline .marks
{
  max-width:510px;
  margin:0px auto;
  display:table;
  width:100%;
  height:37px;
  position:relative;
}
.content .timeline .marks .mark
{
  display:table-cell;
  text-align:center;
  width:170px;
  min-width:170px;
  max-width:170px;
  vertical-align: top;
  position:relative;
}
.content .timeline .marks .mark .dot
{
  background:transparent url('../images/dot.svg') no-repeat;  
  background-position:center center;
  background-size:9px;
  width:9px;
  height:9px;
  top: 15px;
  position: absolute;
  width:100%;
}
.content .timeline .marks .mark.m1
{
  text-align:left;
}
.content .timeline .marks .mark.m1 .dot
{
  background-position:center left;
}
.content .timeline .marks .mark.m2
{
  background-position:center center;
}
.content .timeline .marks .mark.m3
{
  background-position:right center;
  text-align:right;
}
.content .timeline .marks .mark.m3 .dot
{
  background-position:center right;
}
.content .timeline .marks .mark .label
{
  font-family:'officina-bold';
  font-size:30px;
  color:#fff;
  position:relative;
  top:50px;
  vertical-align: top;
}
.content .timeline .marks .mark .label:hover
{
  cursor:pointer;
}
.content .timeline .marks .mark.m1 .label
{
  left:-33px;
}
.content .timeline .marks .mark.m3 .label
{
  right:-33px;
}
.content .timeline .line
{
  width:509px;
  height:1px;
  background-color:#fff;
  position:absolute;
  left: 0px;
  top: 19px;
}
.content .timeline .dragpoint
{
  background:transparent url('../images/dragpoint.svg') no-repeat;  
  background-size:37px 37px;
  width:37px;
  height:37px;
  position:absolute;
  left: -18.5px; /* should half of width*/
  top: 0px;
  cursor:pointer;
}
.content .question
{
  width:100%;
}
.content .question .button
{
  font-family:'officina-bold';
  font-size:30px;
  color:#fff;
  background-color:#de435f;  
  display:table;
  margin: 0 auto;  
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.content .question .button .box
{
  display:inline-block;
  padding: 25px 40px;
}
.content .question .button:hover
{
  cursor:pointer;
}
.content .question .button .box > div
{
  display:inline-block;
}
.content .question .button .box .text
{
  padding:0px 25px;
}
.content .question .button .box .arrow
{
  background:transparent url('../images/arrows_down.svg') no-repeat;  
  background-size:13px 16px;
  width:13px;
  height:16px;
}
.content .charts
{
  min-height:100%;
  width:100%;  
  background-color:#3d414f;
}
.content .charts .header
{
  background-color:#2f3241;
  width:100%;
  font-family:'officina-bold';
  font-size:35px;
  color:#fff;
  padding: 30px 0px 30px 5%;  
}
.content .charts .sub-header
{
  background-color:#fff;
  width:100%;
  font-family:'officina-book';
  font-size:30px;
  color:#2f3241;
  padding: 10px 0px 10px 5%;  
}